@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model MVC_Application.Models.Student;
<h1>Details of Student</h1>

<table>
    <tr>
        <td>Student ID</td>
        <td>@Model.StudentId</td>
    </tr>
    <tr>
        <td>Name</td>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <td>Address</td>
        <td>@Model.Address</td>
    </tr>
    <tr>
        <td>E-Mail</td>
        <td>@Model.Email</td>
    </tr>
</table>